# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs / local
*.log
*.local
application-local-secrets.yml
